@model Proyecto_Grupo3.Models.TRegistroUsuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<main class="my-5">
    <div class="containern p-3">
        <div class=" row pt-4">
            <div>
                <h1 class="my-3">Editar Usuario</h1>
            </div>
            <form asp-action="Edit">
                <div class="border p-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Usuario</h2>
                        <hr />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdUsuario" />
                    <div class="mb-3">
                        <label asp-for="IdentificacionUsuario"></label>
                        <input asp-for="IdentificacionUsuario" class="form-control" />
                        <span asp-validation-for="IdentificacionUsuario" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NombreCompleto"></label>
                        <input asp-for="NombreCompleto" class="form-control" />
                        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Correo"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(u => u.TipoUsuario)
                        @Html.DropDownListFor(u => u.TipoUsuario, new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Elija una opcion", Value = "Elija una opcion", Disabled = true, Selected = true},
                        new SelectListItem() {Text = "Administrador", Value = "Administrador"},
                        new SelectListItem() {Text = "Vendedor", Value = "Vendedor"},
                        new SelectListItem() {Text = "Contabilidad", Value = "Contabilidad"}

                        }, new { @class = "form-control" })
                        @Html.ValidationMessage("TipoUsuario")
                        <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(u => u.Estado)
                        @Html.DropDownListFor(u => u.Estado, new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Elija una opcion", Value = "Elija una opcion", Disabled = true, Selected = true},
                        new SelectListItem() {Text = "Activo", Value = "Activo"},
                        new SelectListItem() {Text = "Inactivo", Value = "Inactivo"}

                        }, new { @class = "form-control" })
                        @Html.ValidationMessage("Estado")
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Contraseña"></label>
                        <input asp-for="Contraseña" class="form-control" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style="width:150px">Actualizar</button>
                    <a asp-controller="RegistroUsuarios" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
                        Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
