@model Proyecto_Grupo3.Models.TFactura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProductos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProductos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProductoNavigation.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
