@model IEnumerable<Proyecto_Grupo3.Models.TFacturasUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFacturaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFacturaNavigation.IdFactura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFacturasUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFacturasUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFacturasUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
